Source: erlang-osc
Section: net 
Priority: optional
Maintainer: Ruslan Babayev <ruslan@babayev.com>
Build-Depends: debhelper (>= 5), cdbs, autotools-dev, erlang-dev, erlang-nox
Standards-Version: 3.8.0

Package: erlang-osc
Architecture: any
Depends: ${erlang-nox:Depends}
Description: Open Sound Control client and server written in Erlang.
 Open Sound Control (OSC) is an open, transport-independent, message-based
 protocol developed for communication among computers, sound synthesizers,
 and other multimedia devices.
